body{
  margin:0;
  padding: 0;
  /*overflow-x: hidden;*/
}

#features h2{
  font-size: 40px;
  color: #333;
  padding: 70px auto 0;
  
}

.heading-underline{
  border-top: 0.1rem solid #25e7d7;
  width: 8rem;
  /*margin-left: 36rem;*/
  }

.director h2{
  font-size: 38px;
  color: #333;
  padding: 70px auto 0;
  text-shadow: 1px 1.5px #545555;
}
.sectionlogo2{
  margin-top : 50px;
}
.span{
  color:#1ebba3;
  margin-bottom:10px; 
}
#features p{
  color:#888;
  margin: 0;
  margin-bottom: 40px;
}
#features {
  background: hsla(300, 2%, 18%, 1);
  color: white;
}
.features-heading {
  color: whitesmoke;
  padding: 10px 0 10px 0;
}
.logo{
  width:60px;
  height: 50px;
}
.logo1{
  width:50px;
  height:70px;
}
.section3{
  margin: 20px 10px 30px 10px;
}
.logo2{
  width:60px;
  height:70px;
}
.logo4{
  width:70px;
  height: 70px;
}
.logo-section1{
  margin-top: 50px;
}
/*-- Director section--*/
blockquote .fas{
  color: #1ebba3;
  margin-top: 1rem;
}
blockquote{
  margin-top: 1rem;
  margin-left:2rem;
}
hr{
  border-top: 0.05rem solid #1ebba3;
}
#aboutUs {
  margin-top:400px;
  color: #fff;
  background: #535053af;
  background: linear-gradient(hsla(300, 2%, 18%, 0.686),hsla(300, 2%, 18%, 1));
  width: 100%;
}

.about-us-text {
  font-family: 'KoHo', serif;
  padding: 40px 20px 20px 20px;
  font-size: 17px;
  text-align: center;
  line-height: 32px;
  word-spacing: 5px;
  font-weight: 500;
}

.about-us-vid {
  padding-top: 2%;
  padding-left:10%;
}

.main {
  width: 100%;
  max-height: 50%;
  background-image: url("showcase.jpg");
  z-index: -1;
	background-size: cover;
	background-position: center;
	/*background-repeat: no-repeat;*/
	background-attachment: fixed;
	padding-top: 100px;
}
.dark{
  font-weight: 500;
  margin-top: 130px;
  padding-top: 3rem;
  padding-bottom: 5rem;
  color: #fff;
  max-width: 100%;
  max-height:100%; 
  text-shadow: 3px 3px black;
  background-color: rgba(0, 0, 0,0.75);
  z-index: +3;
}

.navbar{
  height:15%;
  width: auto;
  z-index:9999;
  margin-left:0rem;
  padding-left: .9rem;
  font-weight: 700;
  padding-right: .9rem;
  letter-spacing: .1rem;
  transition: all ease .5s;
  background: rgba(0, 0, 0, 0.725)!important;
 }
  .black{
   background-color:rgba(31, 30, 30, 0.932);

 }
.navbar-brand span{
  transition: all ease .5s;
  font-size: 35px;
  color:#1ebba3;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
}

#span1{
  transition: all ease .5s;
  font-family: 'Roboto Slab', serif;
  color:#fff;
  font-size:32px;
  font-weight: 700;
  padding-left: 0.5rem
}
.navbar-nav li{ 
  font-family: 'Cabin', 'Lato', sans-serif;
  padding-right: 0.7rem;
  text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link{
  color:rgb(247, 245, 245);
  text-shadow: 2px 3px #333;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color:#35d1ba;
  background: rgba(7, 7, 7, 0.6)!important;
  transition: 300ms;
 
}
.main-nav ul{
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(6, 1fr) ;
}
.main-nav a{
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: #56a79a;
  font-weight: bold;
  opacity: 0.9;
  text-transform: uppercase;
  font-size: 0.8rem;
  box-shadow: var(--shadow);
}
.main-nav a:hover {
  background: var(--dark);
  color: var(--primary); 
  padding: 0.8rem;
}
#navbar{
  text-transform: uppercase;
}
#navbar li{
  display: inline;
  padding-right: 20px;
  list-style: none;
}
#navbar a{
  text-decoration: none;
  color:#738578;
}
#navbar li.current a{
  color:#56a79a;
  border-bottom: 3px solid #56a79a;
  padding-bottom: 3px;
}
#navbar a:hover{
  color:#56a79a;
  border-bottom: 3px solid #56a79a;
  padding-bottom: 3px;
}