body {
  background: url(background.png);
  background-repeat: repeat;
  font-family: "Asap", sans-serif;
  color:#989898;
  margin:10px;
  font-size:16px;
}

.thumb{
  margin-bottom: 30px;
}

.page-top{
  margin-top:85px;
}
* 
.gallery a img {
  transform: scale(1,1);
  transition: all 300ms ease;
  transform: scale;
}

.gallery a img:hover {
  transform: scale;
  transform: scale(1.1,1.1);
} 

.gallery {
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-top : ridge 2px rgb(198, 210, 216);
  border-left : groove 2px #f8f1e6;
  border-radius: 5%;
}

.gallery img{
  width: 300px;
  height: auto;
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 200px;
}

*img.zoom {
  width: 100%;
  height: 100%;
  object-fit:cover;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
}
        
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.modal-header {
  border-bottom: none;
}
.modal-title {
  color:#000;
}
.modal-footer{
  display:none;  
}

.navbar{
  height:10%;
  z-index:1;
  margin-left:0rem;
  padding-left: 2.9rem;
  font-weight: 700;
  padding-right: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.425)!important;
 }
.navbar-brand span{
  font-size: 35px;
  color:#1ebba3;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
}
#span1{
  font-family: 'Roboto Slab', serif;
  color:#fff;
  font-size:32px;
  font-weight: 700;
  padding-left: 0.5rem
}

.navbar-nav li{ 
  font-family: 'Cabin', 'Lato', sans-serif;
  padding-right: 0.7rem;
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link{
  color:rgb(247, 245, 245);
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  background: rgba(0,0,0,0.925);
  color:greenyellow;
  padding-bottom: 3px;
}